.nav-item{
    margin: 5px;
    padding: 5px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; /* İsteğe bağlı olarak formun genişliğini ayarlayabilirsiniz */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
